#root {
       -fx-background-image: url("/Images/bg2.png");

}

#sideMenu {
    -fx-background-color: rgba(54, 36, 0, 0.582);
    -fx-stroke-width: 2px;
    -fx-background-radius: 0 20 0 0;
}
.listMenu {
    -fx-background-radius: 10;
    -fx-background-color: rgba(100, 100, 100, 0.5);
    -fx-control-inner-background: rgba(100, 100, 100, 0.5);
}

.listMenuTitle {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.377) , 4,0,0,1 );
}
.menuButtons {
     -fx-background-color: rgba(54, 36, 0, 0);
     -fx-text-fill: white;
     -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.menuButtons:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.clickButton {
    -fx-text-fill: white;

    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.clickButton:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.clickButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.clickButton Text {
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#minimizeButton, #maximizeButton, #closeButton {
    -fx-background-color: rgba(54, 36, 0, 0);
    /*-fx-text-fill: white;*/
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    /*-fx-padding: 5 20 0 20*/
    -fx-margin : 5 20 0 20;
}
#minimizeButton:hover, #maximizeButton:hover {
    -fx-background-color: green;
}

#closeButton:hover {
    -fx-background-color: red;
}
